<app-spinner *ngIf="loading"></app-spinner>

<ng-template [ngIf]="!loading">

    <!-- Table showing services -->
    <div class="mat-elevation-z8 services-container" *ngIf="dataSource.data.length > 0">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- Code column -->
            <!-- <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                <td mat-cell *matCellDef="let row"> {{row.code}} </td>
            </ng-container> -->
    
            <!-- Name column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
    
            <!-- Additional column -->
            <ng-container matColumnDef="additional">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Additional </th>
                <td mat-cell *matCellDef="let row"><mat-checkbox [checked]="row.additional" [disabled]="true"></mat-checkbox></td>
            </ng-container>
    
            <!-- Ordered Times column -->
            <ng-container matColumnDef="event_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let row"> {{row.event_count}} </td>
            </ng-container>
    
            <!-- Price column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row"> {{row.price | currency:'ARS':'symbol-narrow'}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="editService(row.code)"
                class="services-row">
            </tr>
        </table>
    </div>

    <!-- If there are no services yet -->
    <div class="no-items-container" *ngIf="dataSource.data.length === 0">
        <h3>There are no services yet<br>Try adding your first one</h3>
    </div>

    <!-- Add new service FAB -->
    <a [routerLink]="[ './0' ]"><button mat-fab color="primary"><mat-icon aria-label="Add new service">add</mat-icon></button></a>
</ng-template>