:host {
    flex: 1;
    display: flex;
}

.services-container {
    display: flex;
    flex: 1;

    table {
        flex: 1;

        .services-row:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
    }
}
