<app-spinner *ngIf="loading"></app-spinner>

<div class="service-container" *ngIf="!loading">
    <h1>{{pageTitle}}</h1>
    
    <form [formGroup]="serviceForm" class="service-form" (ngSubmit)="submitForm()">
    
        <!-- Code -->
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" required>
            <mat-spinner matSuffix [diameter]="25" *ngIf="serviceForm.get('code').pending"></mat-spinner>
    
            <mat-error *ngIf="serviceForm.get('code').hasError('required')">
                Code is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="serviceForm.get('code').hasError('uniqueCode')">
                This code is already in use.
            </mat-error>
        </mat-form-field>
    
        <!-- Name -->
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
    
            <mat-error *ngIf="serviceForm.get('name').hasError('required')">
                Name is <strong>required</strong>.
            </mat-error>
        </mat-form-field>
    
        <!-- Description -->
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput
                formControlName="description"
                cdkTextareaAutosize="true"
                cdkAutosizeMinRows="2">
            </textarea>
        </mat-form-field>
    
        <!-- Additional -->
        <mat-checkbox color="primary" formControlName="additional">Additional</mat-checkbox>
    
        <!-- Price -->
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Price</mat-label>
            <input type="number" matInput formControlName="price" required>
            <span matPrefix>$&nbsp;</span>
    
            <mat-error *ngIf="serviceForm.get('price').hasError('required')">
                Price is <strong>required</strong>.
            </mat-error>
        </mat-form-field>
    
        <div class="form-buttons">
            <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="submitting || !serviceForm.valid || serviceForm.pending">Add</button>
        </div>
        
    </form>
</div>