/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

button.mat-fab {
    position: fixed;
    bottom: 3em;
    right: 3em;
}

.no-items-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.inventory-dialog {
    .mat-dialog-container {
        display: flex;
    }
}
